#root{
  padding: 0;
  background-color: var(--body-color);

  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-family: var(--body-font);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  background-color: var(--body-color);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-family: var(--body-font);
  overflow-x: hidden;

}

.bd__container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bg-grid{
  display: grid;
  gap: 1.5rem
}

.section {
  padding: 1.5rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
} 
  
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1, h2, h3, p, ul {
  margin: 0;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--title-color);
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 320px) {
  .nav__list{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem
  }
}

@media (min-width: 968px) {
  body {
    margin: 3rem 0;
  }

  .bd__container {
    margin-left: auto;
    margin-right: auto;
  }

  .header,
  .scrolltop{
    display: none;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, .15);
  }

  .resume__left{
    background-color: var(--container-color-alt);
  }

  .resume__left,
  .resume__right{
    padding: 0 1.5rem;
  }

  .section-title,
  .profile__description{
    text-align: initial;
  }

  .home__container{
    gap: 1.5rem;
  }

  .home__button-movil {
    display: none !important;
  }

  .references__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .languages__content{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .interests__container{
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
  }
}