@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
  --bar-color: #003d83;
  --bar-height: 2px;
  --line-experience-color: #003d83: 
}


h1 {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 60px;
  max-height: 60px;
  display: flex;
  font-family: 'PT Serif', serif;
  align-items: center;
  justify-content: center;
  justify-self: center;
  position: relative;
}

.fullheight {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.menu-button-closed, .menu-button-opened {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.menu-button-opened {
  display: flex;
}

.menu-button-closed {
  display: none;
}


body, 
.bodyApp,
.navBar-and-mainBody {
  height: 100%;
}

.navBar-and-mainBody {
  display: flex;
  position: relative; /* Ayuda a que los FORMS emergente se expandan en altura, ya que este DIV es el padre de ellos */
}

.mainBody{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center; align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* -------------------------- CV */

.mainBody .CV {
  margin-top: 10px;
  width: 500px;
  height: 650px;
  background-color: white;
  color: black;
  display: flex;
  flex-flow: column;
  align-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

/* ---------------- name and image*/
.name-user {
  display: flex;
  align-items: center; justify-content: center;
  text-align: center;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
}

.image-section {
  width: 60px;
  height: 60px;
  left: 5px;
  top: 5px;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 10px;
}


img {
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 15px;
}

/*--------- personal data */
.DIV-personal-data {
  background-color: #1d61eb;
  height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.personal-data {
  font-size: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
}

/* -------------------- SKILLS and EXPERIENCE */
.DIV-skills-and-experience{
  height: 100%;
  display: flex;
}

.DIV-skills-and-experience .skills{
  min-width: 20%;
  max-width: 20%;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 3px; padding-top: 15px;
  background-color: rgb(224, 224, 224);
}

.DIV-skills-and-experience .experience{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-top: 15px;
}

/* SKILLS */
.skills-and-experience-TITLE {
  font-weight: 800;
  margin-bottom: 3px;
}

.singleSkill{
  width: 80%;
  font-size: 13px;
  display: flex;
  flex-flow: column;
  gap: 5px;
  align-items: center;
  position: relative;
}

.singleSkill .bar {
  display: flex;
  height: var(--bar-height);
  width: 85%;
  border-radius: 10px;
  background-color: rgb(138, 138, 138);
  border: 1px solid black;
}

.bar .Beginner {
  border-radius: 10px;
  width: 20%;
  height: var(--bar-height);
  background-color: var(--bar-color);
}

.bar .Intermediate {
  border-radius: 10px;
  width: 50%;
  height: var(--bar-height);
  background-color: var(--bar-color);
}

.bar .Advanced {
  border-radius: 10px;
  width: 75%;
  height: var(--bar-height);
  background-color: var(--bar-color);
}

.bar .Expert {
  border-radius: 10px;
  width: 100%;
  height: var(--bar-height);
  background-color: var(--bar-color);
}

/* Skills FORM */
.DIV-skillsForm {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
  width: 100%; min-height: 100%;
  align-items: center; justify-content: center;
}

#skillsForm {
  width: 250px;
  height: 280px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

#submitSkill {
  position: relative;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  background-color: rgb(44, 113, 202);
  color: white;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.addNewSkill {
  background-color: #1da72f;
  color: white;
  border-radius: 5px;
  width: 30%; height: 25px;
  display: flex;
  justify-content: center; align-items: center;
  cursor: pointer;
  height: 40px; width: 100px;
  font-weight: 600;
}

.addNewExperience {
  background-color: #701da7;
  width: 50%; height: 45px; font-weight: 600;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center; align-items: center;
  cursor: pointer;
}

/*#submitSkill:hover {
  background-color: rgb(87, 134, 196);
}*/

/*---------------------------------------------------- Experience form */
.DIV-experienceForm{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
    width: 100%; height: 100%;
    align-items: center; justify-content: center;
    text-align: center;
}



.DIV-experience {
  width: 40%;
}

.DIV-texarea{
  width: 60%;
  display: flex;
  flex-flow: column;
}

textarea{
  justify-self: center;
  max-width: 100%;
  max-height: 200px;
    border: 1px solid silver;
  border-radius: 5px;
}

#experienceForm {
  width: 600px;
  height: 550px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.years-section {
  display: flex;
  align-items: center; justify-content: center;
  width: 100%;
}



/* Delete SKills */
.deleteSkill {
  height: 15px;
  width: 15px;
  right: 0px;
  top: 0px;
  position: absolute;
  display: none;
  cursor: pointer;
}

.closeSkillsForm {
  height: 24px;
  width: 24px;
  right: 20px;
  top: 20px;
  color: rgb(92, 91, 91);
  position: absolute;
  display: flex;
  cursor: pointer;
}

.closeExperienceForm {
  height: 24px;
  width: 24px;
  right: 20px;
  top: 20px;
  color: rgb(92, 91, 91);
  position: absolute;
  display: flex;
  cursor: pointer;
}

.delete-experience-button {
  height: 15px;
  width: 15px;
  right: 13px;
  top: 0px;
  position: absolute;
  display: none;
  cursor: pointer;
}

.edit-experience-button{
  height: 15px;
  width: 15px;
  right: 40px;
  top: 0px;
  position: absolute;
  display: none;
  cursor: pointer;
}

.LI-experience:hover .delete-experience-button,
.LI-experience:hover .edit-experience-button{
  display: flex;
}


.singleSkill:hover > .deleteSkill {
  display: flex;
}

#button-experience {
  position: relative;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  background-color: rgb(44, 113, 202);
  color: white;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
/* ----------------- Edit experience */
.DIV-experienceEditForm{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
  width: 100%; height: 100%;
  align-items: center; justify-content: center;
  text-align: center;
}

/* ----------------------------- navbar */
form {
  display: flex;
  flex-flow: column;
  gap: 15px;
  background-color: aliceblue;
  align-items: center; justify-content: center;
  width: 100%;
}

.DIV-input-and-label{
  display: flex;
  flex-flow: column;
  justify-items: center; align-items: center;
  gap: 5px;
  width: 100%;
}

input {
  height: 30px;
  width: 90%;
  text-align: center;
  border: 1px solid silver;
  border-radius: 5px;
}

.navBar {
  background-color: aliceblue;
  display: flex;
  flex-flow: column;
  align-items: center; justify-content: flex-start;
  width: 370px;
  min-height: 100%;
  gap: 15px;
  padding: 20px;
  padding-top: 50px;
  transition: all 0.3s ease-in-out;
}

#form-navbar {
  display: flex;
  flex-flow: column;
  height: 500px;
  gap: 35px;
}

/* ------------ Difficulty list */
.select-menu{
  width: 100%;
}

.select-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------------------- ICONS */
.icon {
  width: 14px;
  height: 14px;
}

.cell,
.email,
.career {
  display: flex;
  align-items: center;
  gap: 2px;
}

/*
.cell-icon {
  color:  green;
}*/

/*------------------------------- EXPERIENCE VIEW */
.experiences {
  width: 90%;
  display: flex;
  flex-flow: column;
  gap: 7.5px;
}

.experience {
  display: flex;
  flex-flow: column ;
  gap: 18px;
}

.LI-experience {
  font-size: 10px;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 3px;
  position: relative;
  padding-left: 8px;
}

.LI-experience .title-experience {
  font-weight: 600;
  font-size: 13px;
}

.LI-experience .experience-DIVS {
  overflow-wrap: break-word;
  width: 350px;
}

.description-experience {
  text-align: justify;
}

.years-company {
  display: flex;
  align-items: center;
  gap: 3px;
}

.effect-line-experience {
  position: absolute;
  border-right: 2px solid;
  border-color: var(--line-experience-color);
  height: 100%;
  left: 0px;
}

.circle-effect {
  width: 4px;
  height: 4px;
  border: 2px solid;
  border-color: var(--line-experience-color);
  position: absolute;
  border-radius: 50%;
  top: -8px;
  left: -3px;
}

/* ------- DROPDOWN MENU */
#difficulty {
  width: 50%;
  height: 30px;
  text-align: center;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: #fff;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.select-menu {
  background-color: #003d83;
  width: 70%;
}

.select-menu .select-btn {
  background-color: #fff;
}

.select-menu .options {
  display: block;
}

.select-menu .options .option {
  display: flex;
  align-items: center;
  
  cursor: pointer;
  background-color: #fff;
}
